*{
    box-sizing: border-box;
}
div{
    background-color: aqua;
    padding: 10px;
    border: 1px solid gold;
    width: 300px;
    margin: 100px auto;
    text-align: center;
    overflow: visible;
    transition: all .5s ease;
}
div:hover{
    /*
    transform: matrix(scaleX,SkewY,skewX,ScaleY,translateX,translateY);
    */
    -webkit-transform: matrix();
    transform: matrix(-1,0,0,0,0,0);
}